body {
  display: flex;
  justify-content: center;
  margin: 75px;
  background-color: #52567a;
  overflow: hidden;
}

.noscroll {
  overflow: hidden;
}

.container {
  padding-bottom: 25px;
  display: grid;
  width: 1500px;
  height: 800px;

  background-color: #23344f;
}

heading {
  padding-top: 5px;
  justify-content: space-evenly;
  display: flex;
  max-block-size: 25%;
}

#game-canvas {
  border: 5px ridge blue;
  margin-left: 325px;
  margin-bottom: 25px;
  width: 800px;
  height: 650px;
}

.game-instructions-modal {
  color: white;
  text-align: center;
  position: fixed;

  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 200px;
}

.game-over-modal {
  background-color: #23344f;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 325px;
}
.hidden {
  display: none;
}

.new-best {
  color: white;
}

#score,
#high-score {
  background-color: #4b5257;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  box-shadow: 10px 10px black;
}

#title {
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
